<div class="container py-32 pl-20 flex">
  <div class="upper-data w-[30%] h-[50vh] bg-blue-400 rounded-md p-6 justify-between">
    <label class="text-white" for="City">City of region *</label>
    <input id="City" placeholder="City" (change)="setCity($event)" required type="text" class="mt-2 mb-4 shadow bg-transparent text-white hover:border-gray-400 appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline">
    <label class="text-white" for="City">Contry of region</label>
    <input id="Country" placeholder="Country" (change)="setCountry($event)" type="text" class="mt-2 shadow bg-transparent text-white hover:border-gray-400 appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline">
    <div class="sticky top-[100%] flex justify-center">
      <button (click)="getWheather()" class="bg-transparent border-white border-[1px] w-80 text-white hover:text-blue-400 hover:bg-white h-10 p-1 rounded-sm">Get Data</button>
    </div>
  </div>
  <div class="ml-[8%] ower-data w-[80%]" *ngIf="data">
    <div class="flex justify-between">
      <section class="title flex border-b-[1px] p-4 border-gray-700">
        <h1 class="text-white text-xl mr-2">{{data.city?.name}},</h1>
        <h1 class="text-white text-xl">{{data.city?.country}}</h1>
      </section>
    </div>
    <app-openweather [data]="data"></app-openweather>
  </div>
</div>
<router-outlet></router-outlet>


